.sidebar-logo {
    position: relative;
    padding-top: 34px;
    padding-bottom: 26px;
    height: 160px; /* Increased height to accommodate larger logo and title */
    line-height: 64px;
    overflow: hidden;
    transition: all 0.3s;
    text-align: center; /* Center align the content */

    a {
        display: block; /* Make the anchor a block element to center its content */
        min-height: 32px;

        img {
            display: block; /* Make the image a block element */
            height: 100px; /* Increase the size of the logo */
            width: 100px; /* Increase the size of the logo */
            margin: 0 auto; /* Center the logo */
        }

        h1 {
            display: block; /* Make the title a block element */
            margin: 12px 0 0 0; /* Add margin to the top of the title */
            font-weight: 600;
            font-size: 18px;
            color: #fff;
            vertical-align: middle;
            &.light {
                color: #000;
            }
        }
    }
}
