.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    z-index: 10;

    &:hover {
        color: var(--color-rebecca-purple);
    }
}

.trigger i {
    font-size: 24px;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;

}