::ng-deep .ant-menu-item-selected {
    background-color: #FFC243 !important;
}

.menu-item {
    display: flex;
    align-items: center;
}

.menu-item-link {
    display: flex;
    align-items: center;
}

.menu-item i[nz-icon] {
    margin-right: 8px; /* Adjust this as needed */
}
